<div ng-include="'/templates/navigation.html'"></div>
<h3>Add Student</h3>
<div class="contaner add-student">
	<div class="row">
		<div class="col-lg-5">
			<form class="form-herizontal" ng-submit='addStudent()'>
			  <div class="form-group">
			    <label for="id">Student ID*</label>
			    <!-- <input type="text" class="form-control" id="id" ng-model="student._id" required placeholder="000000"> -->
			  </div>
			  <div class="form-group">
			    <label for="email">Email*</label>
			    <input type="email" class="form-control" id="email" ng-model='student.email' required placeholder="Email">
			  </div>
			  <div class="form-group">
			    <label for="first_name">First Name*</label>
			    <input type="text" class="form-control" id="first_name" ng-model='student.firstName' required placeholder="First Name">
			  </div>
			  <div class="form-group">
			    <label for="middle_name">Middle Name*</label>
			    <input type="text" class="form-control" id="middle_name" ng-model='student.middleName' required placeholder="Middle Name">
			  </div>
			  <div class="form-group">
			    <label for="last_name">Last Name*</label>
			    <input type="text" class="form-control" id="last_name" ng-model='student.lastName' required placeholder="Last Name">
			  </div>
			  <div class="form-group" >
			    <label for="birthdate">Birthdate*</label>
          <input type="date" class="form-control" id="last_name" required ng-model='student.birthDate'>
            
			  </div>
			  <div class="form-group">
			    <label for="gender">Gender</label>
			    <input type="radio" ng-model="student.gender" value="M" />male
          <input type="radio" ng-model="student.gender" value="F" />female<br />
			  </div>
			  <div class="form-group">
			    <label for="phone_number">Phone Number*</label>
			    <input type="text" class="form-control" id="phone_number" required ng-model='student.phoneNumber' >
			  </div>
			  <div class="form-group">
			    <label for="address">Address Line1</label>
			    <input type="text" class="form-control" id="address" ng-model='student.addressLine1'>
			  </div>
			  <div class="form-group">
			    <label for="city">City </label>
			    <input type="text" class="form-control" id="city" ng-model='student.city'>
			  </div>
			    <div class="form-group">
			    <label for="state">State </label>
			    <input type="text" class="form-control" id="state" ng-model='student.state'>
			  </div>
		    	<div class="form-group">
			    <label for="zip_code">Zip Code </label>
			    <input type="text" class="form-control" id="zip_code" ng-model='student.zipCode'>
			  </div>
				
			  <button type="submit" class="btn btn-primary">Save</button>
			  <a href="#students" class="btn btn-default ">Cancel</a>
			</form>
       <div style="height:30px"></div>  
		</div>
		<div class="col-lg-7">
     
    </div>
	</div>
	
</div>