<form class="form-herizontal" ng-submit='ok()'>
    <div class="modal-header">
        <h3>{{contactTitle}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" ng-model='firstName' required>
        </div>
        <div class="form-group">
            <label for="middle_name">Middle Name</label>
            <input type="text" class="form-control" id="middle_name" ng-model='middleName' required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" ng-model='lastName' required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" ng-model='email' required>
        </div>
        <div class="form-group">
            <label for="phone_number">Phone</label>
            <input type="text" class="form-control" id="phone_number" ng-model='phoneNumber' required>
        </div>
        <div class="form-group">
            <label for="relationship">Relationship</label>
            <input type="text" class="form-control" id="relationship" ng-model='relationship' required>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
</form>
