<form class="form-herizontal" ng-submit='ok()'>
    <div class="modal-header">
    <h3>{{degreeTitle}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="institution_name">Institution</label>
            <select class="form-control" id="institution_name" ng-model='institutionName' ng-options="institution.name as institution.name for institution in institutions" required placeholder="Institution Name">
            </select>
        </div>
        <div class="form-group">
            <label for="degree">Degree</label>
            <select class="form-control" id="degree" name="degree" ng-model='degree' required placeholder="Degree">
                <option value="A.S.">A.S.</option>
                <option value="B.S.">B.S.</option>
                <option value="M.S.">M.S.</option>
                <option value="D.S.">D.S.</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field">Field</label>
            <input type="text" class="form-control" id="field" ng-model='field' required placeholder="Field">
        </div>
        <div class="form-group">
            <label for="graduation_date">Graduation Date</label>
            <input type="date" class="form-control" id="graduation_date" ng-model='graduationDate' required placeholder="Graduation Date">
        </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</form>
