<form class="form-herizontal" ng-submit='financialSubmit()'>
    <div class="modal-header">
        <h3>{{financialTitle}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="student_id">Student's ID</label>
            <input type="text" class="form-control" id="student_id" ng-model='studentID' disabled required>
        </div>
        <div class="form-group">
            <label for="student_email">Email</label>
            <input type="email" class="form-control" id="student_email" ng-model='studentEmail' disabled required>
        </div>
        <div class="form-group">
            <label for="semester_name">Semester</label>
            <select ng-model='semester' class="form-control" required>
                <option ng-repeat="smt in semesters" value="{{smt._id}}" ng-selected="semester == smt._id">{{smt.name}}</option>
            </select>

        </div>
        <div class="form-group">
            <label for="monthly_payment">Monthly payment</label>
            <input type="text" class="form-control" id="monthly_payment" ng-model='monthlyPayment' required placeholder="Field">
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea rows="4" class="form-control" id="comment" ng-model='comment' required placeholder="Description">
            </textarea>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Send</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
</form>
