/*.active {
	background: blue;
}*/

.dataTables_length {
  top: -6px;
  left: -9px;
  position: absolute;
}
.dataTables_filter {
  top: -9px;
  position: absolute;
  right: -10px;
}

.dataTables_wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.dataTables_info {
  display: block;
  float: left;
}

#studentTable_paginate {
    display: block;
    float: right;
}