<div class="login-page clearfix" style="padding:100px;text-align: center;">
	<div class="table">
		<div class="row">
			<div class="cell">
				<div class="content">
					<img src="assets/images/Pillar_Seminary_logo_med.png" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="content">
					<h3>Student Management System</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="content">
					<div id="widget-container"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	body,
	html {
		padding: 0;
		margin: 0;
	}
	
	.a0-header,
	.a0-icon-badge,
	.a0-footer {
		display: none;
	}
	
	.a0-body-content {
		border: 0;
	}
	
	.table {
		display: table;
	}
	
	.row {
		display: table-row;
	}
	
	.cell {
		display: table-cell;
	}
	
	.content {
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
	}
</style>