<div class="container" style="padding:10px 30px 10px 10px;text-align:right;">
	<b>Student ID</b> <input type="text" ng-model="searchID" class="input-medium search-query" placeholder="00000000">
	<b>Name</b> <input type="text" ng-model="searchName" class="input-medium search-query" placeholder="Student Name">
	<button class="btn btn-primary btn-sm" ng-click="search()">Search</button>
</div>
<table class="table table-bordered table-hover" id="studentTable" ng-show="students.length">
	<thead>
		<tr>
			<th>Student ID</th>
			<th>Name</th>
			<th>Gender</th>
			<th>Birth Date</th>
			<th>Email</th>
			<th>Number</th>
		</tr>
	</thead>
	<tbody>
		<tr style="cursor: pointer;" ng-repeat="student in students" ng-click="studentDetails(student._id)">
			<td>{{student._id}}</td>
			<td>{{student.lastName}}, {{student.firstName}} {{student.middleName}}</td>
			<td>{{student.gender}}</td>
			<td>{{student.birthDate | date}}</td>
			<td>{{student.email}}</td>
			<td>{{student.phoneNumber}}</td>
		</tr>
	</tbody>
</table>