<div ng-include="'/templates/navigation.html'"></div>
<h3>Institution Details</h3>

<uib-tabset active="active">
	<uib-tab index="0" heading="Personal">
		<table class="table table-hover">
			<tbody>
				<tr>
					<td>
						ID:
					</td>
					<td>
						<p>{{institution._id}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Name:
					</td>
					<td>
						<p>{{institution.name}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Address:
					</td>
					<td>
						<p>{{institution.address}}</p>
					</td>
				</tr>
				<tr>
					<td>
						City:
					</td>
					<td>
						<p>{{institution.city}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Country:
					</td>
					<td>
						<p>{{institution.country}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Description:
					</td>
					<td>
						<p>{{institution.description}}</p>
					</td>
				</tr>
			</tbody>
		</table>
	</uib-tab>
</uib-tabset>