<div class="container" style="padding:10px 30px 10px 10px;text-align:right;">
	<div class="col-lg-2 no-padding text-left">
		<button type="button" class="btn btn-primary" ng-click="addInstitutions()">New Institution</button>
	</div>
	<div class="col-lg-10 no-padding text-right">
		<b>Institution Name:</b> <input type="text" ng-model="searchID" class="input-medium search-query" placeholder="00000000">
		<button class="btn btn-primary btn-sm" ng-click="search()">Search</button>
	</div>
	<br>
	<br>
	<table datatable="ng" class="table table-bordered table-hover" id="institutionTable" ng-show="institutions.length" >
		<thead>
			<tr>
				<th>ID</th>
				<th>Phone Number</th>
				<th>Address Line1</th>
				<th>City</th>
				<th>State</th>
				<th>ZipCode</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr style="cursor: pointer;" ng-repeat="institution in institutions" >
				<td ng-click="institutionDetails(institution._id)">{{institution._id}}</td>
				<td ng-click="institutionDetails(institution._id)">{{institution.phoneNumber}}</td>
				<td ng-click="institutionDetails(institution._id)">{{institution.addressLine1}}</td>
				<td ng-click="institutionDetails(institution._id)">{{institution.city}}</td>
				<td ng-click="institutionDetails(institution._id)">{{institution.state}}</td>
				<td ng-click="institutionDetails(institution._id)">{{institution.zipCode}}</td>
				<td>
					<a type="submit" title="edit" ng-click="editInstitution(institution._id)">Edit</a>
			        <a type="submit" title="delete" ng-click="institutionDelete(institution._id)">Delete</a>
			    </td>
			</tr>
		</tbody>
	</table>
</div>