<div ng-include="'/templates/navigation.html'"></div>
<h3>Officer Admin Details</h3>

<uib-tabset active="active">
	<uib-tab index="0" heading="Personal">
		<table class="table table-hover">
			<tbody>
				<tr>
					<td>
						Officer Admin ID:
					</td>
					<td>
						<p>{{officerAdmin._id}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Email:
					</td>
					<td>
						<p>{{officerAdmin.email}}</p>
					</td>
				</tr>
				<tr>
					<td>
						First Name:
					</td>
					<td>
						<p>{{officerAdmin.firstName}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Middle Name:
					</td>
					<td>
						<p>{{officerAdmin.middleName}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Last Name:
					</td>
					<td>
						<p>{{officerAdmin.lastName}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Birth Date:
					</td>
					<td>
						<p>{{officerAdmin.birthDate | date}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Gender:
					</td>
					<td>
						<p>{{officerAdmin.gender}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Phone Number:
					</td>
					<td>
						<p>{{officerAdmin.phoneNumber}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Address:
					</td>
					<td>
						<p>{{officerAdmin.addressLine1}}</p>
					</td>
				</tr>
				<tr>
					<td>
						City:
					</td>
					<td>
						<p>{{officerAdmin.city}}</p>
					</td>
				</tr>
				<tr>
					<td>
						State:
					</td>
					<td>
						<p>{{officerAdmin.state}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Zip:
					</td>
					<td>
						<p>{{officerAdmin.zipCode}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Application Date:
					</td>
					<td>
						<p>{{officerAdmin.applicationDate | date}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Acceptance Notification Date:
					</td>
					<td>
						<p>{{officerAdmin.acceptanceNotificationDate | date}}</p>
					</td>
				</tr>
				<tr>
					<td>
						Graduation Date:
					</td>
					<td>
						<p>{{officerAdmin.graduationDate | date}}</p>
					</td>
				</tr>
			</tbody>
		</table>
	</uib-tab>
</uib-tabset>