.no-padding-left {
  padding-left: 0px !important;
}
.no-padding-right {
  padding-right: 0px !important;
}
.no-padding-top {
  padding-top: 0px !important;
}
.no-padding-bottom {
  padding-bottom: 0px !important;
}
.notifications .notifications-container {
  top: 50px;
}

.modal {
    transition: all 0.5s ease;
}
.dataTables_filter {
    display: none  !important; 
}
.panel-title {
    font-weight: bold;
    text-transform: uppercase;
    color: rebeccapurple;
}