<h2>Courses List:</h2>
<button type="button" class="btn btn-primary" ng-click="addCourse(false)">New Course</button>

<table datatable="ng" class="table table-bordered table-hover" id="courseTable" ng-show="courses.length">
  <thead>
    <tr>
      <th>Course ID</th>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Start At</th>
      <th>End At</th>
      <th>Actions</th>
      <th>Professor</th>
    </tr>
  </thead>
  <tbody>
    <tr style="cursor: pointer;" ng-repeat="course in courses" >
      <td>{{course._id}}</td>
      <td>{{course.name}}</td>
      <td>{{course.startDate | date}}</td>
      <td>{{course.endDate | date }}</td>
      <td>{{course.startAt | date: 'hh:mm:ss a'}}</td>
      <td>{{course.endAt | date: 'hh:mm:ss a'}}</td>     
      <td>
        <a href="#" title="Edit">
         Edit
        </a>
        <a title="Delete" ng-click="courseDelete(course._id)">
          Delete
        </a>
        <a href="#" title="Enroll">
          
        </a>
        <a href="#" title="Enroll">
          Enroll 
        </a>
        <a href="#" title="Assign">
          Assign
        </a>
       
      </td>
      <th>Professor A</th>
    </tr>
  </tbody>
</table>

