<h2>Courses List:</h2>
<button type="button" class="btn btn-primary" ng-click="addCourse(false)">New Course</button>
<br/>
<br>
<table class="table table-bordered table-hover" id="courseTable" ng-show="courses.length">
  <thead>
    <tr>
      <th>Course ID</th>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr style="cursor: pointer;" ng-repeat="course in courses" >
      <td>{{course._id}}</td>
      <td>{{course.name}}</td>
      <td>{{course.startDate | date}}</td>
      <td>{{course.endDate | date }}</td>
     
    </tr>
  </tbody>
</table>