<h4 style="padding:10px">Add Professor</h4>
<form ng-submit="ok()">
  <table class="table">
    <tbody>
      <tr>
        <td>
          Professor Id*
        </td>
        <td>
          <input type="text" required name="_id" ng-model="_id"'>        
        </td>
      </tr>
      <tr>
        <td>
          Email*
        </td>
        <td>
          <input type="email" required name="email" ng-model='email'>
        </td>
      </tr>
      <tr>
        <td>
          First Name*
        </td>
        <td>        
          <input type="text" required name="firstName" ng-model='firstName'>
        </td>
      </tr>
      <tr>
        <td>
        Middle Name*
        </td>
        <td>
         <input type="text" required name="middleName" ng-model='middleName'/>
        </td>
      </tr>
      <tr>
        <td>
        Last Name*
        </td>
        <td>
         <input type="text" required name="lastName" ng-model='lastName'/>
        </td>
      </tr>
      <tr>
        <td>
        Birthdate*
        </td>
        <td>
         <input type="date" required name="birthDate" ng-model='birthDate'/>
        </td>
      </tr>
      <tr>
        <td>
        Gender
        </td>
        <td>
        <select ng-model="gender">
          <option value="M">male</option>
          <option value="F">female</option>
        </select>
        </td>
      </tr>
      <tr>
        <td>
        Phone Number*
        </td>
        <td>
         <input type="text" required name="phoneNumber" ng-model='phoneNumber'/>
        </td>
      </tr>
      <tr>
        <td>
        Address Line1
        </td>
        <td>
         <input type="text" name="addressLine1" ng-model='addressLine1'/>
        </td>
      </tr>
      <tr>
        <td>
        City
        </td>
        <td>
         <input type="text" name="city" ng-model='city'/>
        </td>
      </tr>
      <tr>
        <td>
        State
        </td>
        <td>
         <input type="text" name="state" ng-model='state'/>
        </td>
      </tr>
      <tr>
        <td>
        Zip Code
        </td>
        <td>
         <input type="text" name="zipCode" ng-model='zipCode' placeholder="XXXXX"/>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <button class="btn btn-sm btn-primary" type = "submit">Add</button>
          <button class="btn btn-sm btn-secondary" ng-click="cancel()">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>  